@model IEnumerable<noticiasmvc.AppContext.Entities.Tag>

@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Tag</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.Descricao</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-warning">Editar</a>
                    <form asp-action="Delete" asp-route-id="@tag.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>